*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 40px;

}
#menu{
    border: solid 3px rgb(0, 0, 0);
    height: 80px;
    background-color: #48596b;
    border-radius: 8px;
    display: flex;
    /* direção do flex */
    /* flex-direction: column; */
    /* eixo principal horinzontal */
    justify-content: space-evenly;
    /* eixo segundario vertical */
    align-items: center;
}       
#menu a{
    color: white;
    text-decoration: none;
}
.container{
    background-color: #8294a7;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50vh;
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.motos{
    background-color: #b0becd;
    width: 500px;
    border: solid 1px black;
    border-radius: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.motos img{
    border: solid 2px gray ;
    border-radius: 30px;
    width: 70%;
    height: 70%;
}
.carros{
    background-color: #b0becd;
    
    width: 500px;
    border: solid 1px black;
    border-radius: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.carros img{
    border: solid 2px gray ;
    border-radius: 30px;
    width: 70%;
    height: 70%;
}
@media(max-width: 600px){
    body{
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(98, 98, 98);
    }
   
    h1{
        font-size: 35px;
        color: white;
        
    }
    #menu{
        width: 100%;
        margin-bottom: 20px;
        border: solid 3px rgb(255, 255, 255);
        background-color: #6b4848;
    }
    #menu a{
        font-size: 25px;
    }
    .container{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20px;
        gap: 20px;
        margin: 0;
        margin-top: 15px;
        border: solid 3px rgb(255, 255, 255);
        background-color: #a78282;
        
    }
    .container .motos, .carros{
        width: 100%;
        height: 60%;
        background-color: #cdb0b0;
        gap: 5px;
        border: solid 2px rgb(255, 255, 255);

    }
    .container img{
        width: 90%;
        height: 90%;
    }
    .container h2{
        font-size: 35px;
        color: white;
    }
    .container p{
        font-size: 20px;
        color: white;
    }
}